body {
  min-height: 100vh;
  background-color: #98f5f3cc;
  background:
    linear-gradient(135deg,
      rgba(124, 58, 237, 0.45),
      rgba(59, 130, 246, 0.45),
      rgba(34, 211, 238, 0.45),
      rgba(236, 72, 153, 0.45));
  background-size: 300% 300%;
  animation: lensShift 10s ease-in-out infinite;
}

.scrollable-menu {
  scrollbar-width: none;
  scroll-behavior: smooth;
}


@keyframes lensShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.scrollable-menu {
  max-height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}


.page-link:hover {
  transition: 0.2s;
  color: #00000098 !important;
}

.title-hover:hover {
  z-index: 1;
  opacity: 0.96;
  /* transform: scale(101%); */
  transition: 0.26s !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7) !important;
}


.active-page {
  transition: 500ms;
  color: #ffffff !important;
  background: #00000041 !important;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}


.genre-hover:hover {
  transition: 0.23s;
  background-color: rgba(255, 255, 255, 0.3) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.226) !important;
}


.trailer {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.trailer iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.custom-tooltip {
  --bs-tooltip-bg: #212529;
  --bs-tooltip-color: #fff;
  /* --bs-tooltip-padding-y: 1rem; */
}


button#watchedSubmit {
  color: #6c757d;
}


button#watchedSubmit:hover {
  transition: 200ms;
  color: #a5b3be;
}

button#wishlistSubmit {
  opacity: 0.9;
  font-size: .9rem !important;
  /* color: #212529bf; */
  /* border: #212529bf; */
  padding: .1rem .34rem;
}

.tleID {
  height: fit-content;
  position: absolute;
  right: 0;
}

form#formWishlist,
form#formWatched {
  width: 20%;
}

.titlename {
  font-size: 0.95rem;
  transition: 0.15s;
}

.titletype {
  font-size: 0.95rem;
  transition: 0.15s;
}

@media(min-width:1200px) {
  .titlename {
    font-size: 1.25rem;
  }
}

@media(max-width:575px){
  .titletype {
    font-size: 0.85rem;
  }
}

@media(max-width:475px){
  .titletype {
    font-size: 0.79rem;
  }
}