<footer class="footer bg-dark py-3 mt-auto text-center">
    <div class="container">
        <span class="text-secondary me-5">&copy;Movies Convey 2025</span>
        <span class="text-secondary me-2"><i class="bi bi-discord"></i></span>
        <span class="text-secondary me-2"><i class="bi bi-youtube"></i></span>
        <span class="text-secondary me-2"><i class="bi bi-instagram"></i></span>
        <span class="text-secondary me-2"><i class="bi bi-threads"></i></span>
        <span class="text-secondary me-2"><i class="bi bi-twitter-x"></i></span>
    </div>
</footer>